<h1>Listing inventories</h1>

<table>
  <tr>
    <th>Carmodel</th>
    <th>Price</th>
    <th>Status</th>
    <th>Dealership</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventories.each do |inventory| %>
  <tr>
    <td><%= inventory.carmodel %></td>
    <td><%= inventory.price %></td>
    <td><%= inventory.status %></td>
    <td><%= inventory.dealership %></td>
    <td><%= link_to 'Show', [inventory.dealership, inventory] %></td>
 
 <%if current_user && current_user.admin? %>
    <td><%= link_to 'Edit', edit_dealership_inventory_path(inventory.dealership, inventory) %></td>
    <td><%= link_to 'Destroy', [inventory.dealership, inventory], method: :delete, data: { confirm: 'Are you sure?' } %></td>
   </tr>
 <% end %>
<% end %>
</table>

<br />
 <%if current_user && current_user.admin? %>

<%= link_to 'New Inventory', new_dealership_inventory_path(params[:dealership_id]) %>
<%end%>