<p id="notice"><%= notice %></p>

<p>
  <b>Carmodel:</b>
  <%= @inventory.carmodel %>
</p>

<p>
  <b>Price:</b>
  <%time = Time.new%>
    <%if time.day == 31 || time.day == 30 || time.day == 29%>
    <%= @inventory.price = @inventory.price - @inventory.price * 0.02 %>
    <%else%>
    <%= @inventory.price%>
    <%end%>
</p>

<p>
  <b>Status:</b>
  <%= @inventory.status %>
</p>

<p>
  <b>Dealership:</b>
  <%= @inventory.dealership %>
</p>
 <%if current_user && current_user.admin? %>
  <%= link_to 'Edit', edit_dealership_inventory_path(@inventory.dealership, @inventory) %> |
<%end%>
<%= link_to 'Back', dealership_inventories_path(@inventory.dealership) %>

<hr>
<hr>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>