<p id="notice"><%= notice %></p>

<p>
  <b>Carmodel:</b>
  <%= @inventory.carmodel %>
</p>

<p>
  <b>Price:</b>
    <%= @inventory.price%>
</p>

<p>
  <b>Status:</b>
  <%= @inventory.status %>
</p>

<p>
  <b>Dealership:</b>
  <%= @inventory.dealership %>
</p>
 <%if current_user && current_user.admin? %>
  <%= link_to 'Edit', edit_dealership_inventory_path(@inventory.dealership, @inventory) %> |
  <%= link_to 'Delete', dealership_inventory_path(@inventory.dealership, @inventory), method: :delete %> |

<%end%>
<hr>
<%= link_to 'Back', dealership_inventories_path(@inventory.dealership) %>|
<hr>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>