<p id="notice"><%= notice %></p>

<%= link_to 'Back', dealership_inventories_path(@inventory.dealership),class: 'btn btn-secondary' %>


<p>
  <b>Carmodel:</b>
  <%= @inventory.carmodel %>
</p>

<p>
  <b>Price:</b>
    <%= @inventory.price%>
</p>

<p>
  <b>Status:</b>
  <%= @inventory.status %>
</p>

<p>
  <b>Dealership:</b>
  <%= @inventory.dealership %>
</p>
 <%if current_user && current_user.admin? %>
  <%= link_to 'Edit', edit_dealership_inventory_path(@inventory.dealership, @inventory), class: 'btn btn-secondary' %> |
  <%= button_to 'Delete', dealership_inventory_path(@inventory.dealership, @inventory), method: :delete, class: 'btn btn-danger' %> |

<%end%>
<hr>
<hr>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-warning'  %>