<!DOCTYPE html>
<html>
  <head>
    <title>CarInventory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
   
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="container pt-5">
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
    <img src="https://cdn5.vectorstock.com/i/1000x1000/68/44/car-logo-with-circle-hand-colorful-logo-vector-22266844.jpg" />
    <%= video_tag "https://media.istockphoto.com/videos/3d-fiery-appearance-of-the-machine-video-id622481174", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
    <%= yield %>
    
    
    
    </div>
  </body>
</html>
